*{
  margin: 0px;
  padding: 0px;
}

.container{
  padding: 20px;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 30px
}
.box{
  height:80px;
  width: 400px;
  padding:10px;
  border-radius: 2rem;
  background-color: rgb(36, 31, 31);
  color:yellow;
}

.btn{
  height: 100px;
  width: 200px;
  border-radius: 2rem;
  
}