*{
  padding : 0;
  margin: 0;
}

.container{
  padding-top: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap:80px;
  
}

.box{
  height: 60vmin;
  width: 60vmin;
  background-color: rgb(185, 13, 13);
  font-weight: bolder;
  font-size:xx-large;
  text-align: center;  
  border-radius: 2rem;
}
.box h1{
  font-weight: bolder;
  height: max-content;
  font-size: 10vmax;
  color: white;
  text-align: center;
  margin-top: 180px;
}

.btn{
  width: 600px;
  display: flex;
  justify-content: space-between;
  
}

.btn button{
  height:100px;
  width: 250px;
  border-radius:2rem;
  font-size: xx-large;
  background-color: rgb(20, 8, 31);
  color: white;
}