*{
  padding : 0;
  margin : 0;
}
body{
  height: 100%;
  width: 100%;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  background-color: rgb(41, 38, 38);
  border: 1px black solid;
  color: white;
  height: 450px;
  width: 400px;
  text-align: center;
  gap: 10px;
  border-radius: 10px;

}

.card img{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card p{
  padding: 20px 20px 10px 10px;
  margin-bottom: 10px;
}

.card button{
  border-radius: 10px;
  width: 150px;
  height:50px;
  margin-bottom: 10px;

}

